absl-py==0.7.1
astor==0.7.1
cycler==0.10.0
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Logbook==1.4.3
lxml==4.3.3
Markdown==3.1
matplotlib==3.0.3
numpy==1.16.2
protobuf==3.7.1
py==1.8.0
pyparsing==2.3.1
PyQt5==5.12.1
PyQt5-sip==4.19.15
pyshark==0.3.7.11
python-dateutil==2.8.0
PyYAML==5.1
ruamel.yaml==0.15.89
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
trollius==1.0.4
Werkzeug==0.15.2
